<div class="form__register">
    <div class="container__form-title">
        <p><strong>Try it free 7 days</strong> then $20/mo. thereafter</p>
    </div>

    <form action="" class="container__form">
        <input type="text" name="name" placeholder="Name" class="container__form-input">
        <input type="text" name="lastName" placeholder="Last Name" class="container__form-input">
        <input type="email" name="email" placeholder="Email Address" class="container__form-input">
        <input type="password" name="password" placeholder="Password" class="container__form-input">
        <button>Claim your free trial</button>
        <p>By clicking the button, you are agreeing to our <strong>Terms and Services</strong></p>
    </form>
</div>